# 임시로 설정-> 실제 환경에서는 K8S Configmap/Secret Manager로 관리하도록 수정
AWS_REGION=us-east-1
# RDS Endpoint for the inventory database (나중에 수정)
DB_HOST=ecommerce-dev-rds.example.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_NAME=ecommerce
# 나중에 K8s Secret Manager로 관리하도록 수정
DB_USER=example_user
DB_PASSWORD=example_password

KINESIS_STREAM_NAME=ecommerce-order-events
LOG_LEVEL=INFO
METRICS_PORT=8002