# 임시로 설정-> 실제 환경에서는 K8S Configmap/Secret Manager로 관리하도록 수정
AWS_REGION=us-east-1
# RDS Endpoint for the inventory database (나중에 수정)
DB_HOST=
DB_PORT=3306
DB_NAME=ecommerce
# 나중에 K8s Secret Manager로 관리하도록 수정
DB_USER=ecommerce_admin
DB_PASSWORD=

KINESIS_STREAM_NAME=ecommerce-order-events
KINESIS_ITERATOR_TYPE=TRIM_HORIZON
KINESIS_RECORDS_LIMIT=1000
KINESIS_POLL_INTERVAL_SEC=0.2
LOG_LEVEL=INFO
METRICS_PORT=8002
